.common{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*height: 80%;*/
}