.common{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: antiquewhite;
    /*background: #f9efe4;*/
    border-radius: 1em;
    /*height: 80%;*/
}