.common{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: antiquewhite;*/
    background: #faf1dc;
    /*background: rgb(240,240,240);*/
    border-radius: 1em;
    box-shadow: 3px 4px 9px 5px rgba(200,200,200,0.5);
    /*height: 80%;*/
}
