.cart_count{
    display: flex;
    align-items: center;
}

.current_count{
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
    padding: 0 0.5em;
}

.minus_icon,
.plus_icon{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
